/* === body  === */
body {
    background-color: #e6d5ab;  
}

/* Banner  */
.banner {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 55vh; 
    z-index: 1; 
    background: url('images/banner.png') no-repeat center center/cover; 
    opacity: 0.8; 
}


/* overlay */
.banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}



.banner-title {
    position: relative;
    z-index: 1;
    color: #F5F5DC;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 0 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);  
}

.title-small {
    position: relative;
    z-index: 1;
    color: #F5F5DC;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 0 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);  
}




/* === NAV menu === */
.menu {
    position: relative; 
    z-index: 3; 
    margin: 0 auto; 
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0; 
    background-color: #000033; 
}

.menu-container {
    display: flex;
    gap: 20px; 
    justify-content: center;
}

.menu-item {
    color: #ffffff;
    font-size: 1rem; 
    text-transform: uppercase;
    padding: 10px 25px; 
    text-decoration: none;
    border-radius: 5px; 
    background-color: #000033; 
    transition: all 0.3s ease; 
}

.menu-item:hover {
    background-color: #000044; 
}

.map-container {
    position: relative; 
    max-width: 1400px; 
    width: 90%; 
    margin: 60px auto; 
    z-index: 1; 
}

#map {
    height: calc(70vh - 100px); 
    min-height: 200px; 
    max-height: 800px; /
    width: 100%;
    border-radius: 12px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
}


/* === reszponzivitás === */

/* max. 1200px */
@media (max-width: 1200px) {
    .map-container {
        width: 95%;
    }
}

/* max. 768px */
@media (max-width: 768px) {
    html {
        font-size: 14px; 
    }

    .menu-item {
        font-size: 0.9rem;
        padding: 8px 20px;
    }

    .menu-container {
        gap: 10px;
    }

    .banner {
        height: 40vh; 
    }

    .banner-title {
        font-size: 1.5rem; 
    }

    .title-small {
        font-size: 0.8rem; 
    }

    #map {
        height: 400px !important; 
    }
}

/* max. 480px */
@media (max-width: 480px) {
    html {
        font-size: 12px; 
    }

    .banner {
        height: 30vh; 
    }

    .banner-title {
        font-size: 1.3rem; 
    }

    .title-small {
        font-size: 0.8rem; 
    }
}

/*defition pairs*/
.inline-definition dt {
    display: inline; 
    margin: 0;
}

.inline-definition dd {
    display: inline; 
    margin: 0 0 10px; 
}


.inline-definition dd::after {
    content: ""; 
    display: block; 
}